@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;


header {
    display: flex;
    justify-content: space-around;

    h1 {margin: 0; }
}


main {
    background-image: url("http://placehold.it/385x300");
    background-repeat: none;
    border: 1px solid black;
    height: 300px;

    #top {
    text-align: center;
    margin: 0 auto;

    h3 {
        width: 100px;
        height: 50px;
        border: 1px solid black;    
    }
    }
}