@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;


/* sass variables */
$bg_wht : white;
$med_screen: 600px;
$large_screen: 1000px;


#top, #row_two, .mob_screen {
    color: $bg_wht;
    padding: 70px 0;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    text-align: center;
}

header {
    width: 100%;
    position: fixed;
    background-color: $bg_wht;
    display: flex;
    justify-content: space-around;

    h1 {margin: 0; }

    img {padding:10px;}
}

/* this is the content surrounded by white border*/

#box {
        margin: 0 auto;
        height: 40px;
        width: 200px;
        padding: 10px 0 5px 0;
        border: 2px solid $bg_wht;  
        font-size: .7em; 
        font-weight: 900;
}

main {
        @include grid-row();

    #top {
        background-image: url("https://0041b200f62b3b1e2348-1120f113e97866ae33baf6d37d9ffbd6.ssl.cf5.rackcdn.com/images/_800x314_crop_center-center_75/blackice_hero.jpg");

    h1 {
        margin: 0;
    }
    
    h2 {
        font-size: 0.9em;
        margin: 10px;
    }
    }
 
    .mob_screen {
        @include grid-column(12);
        @include breakpoint($large_screen) {
            @include grid-column(8);
        }

        h2 {
            font-size: 0.9em;
            margin: 10px;
        }

        h1 {
            margin: 0;
        }
        background-image: url("https://0041b200f62b3b1e2348-1120f113e97866ae33baf6d37d9ffbd6.ssl.cf5.rackcdn.com/images/lunacy_AB.jpg");
        
        
        @include grid-column(12); 
        display: none;
        @include breakpoint($med_screen) {
            @include grid-column(8);
            display: block;
        }
        
        
    }

    #row_two {
        @include grid-column(12);
        @include breakpoint($large_screen) {
            @include grid-column(4);
        }
        background-image: url("https://0041b200f62b3b1e2348-1120f113e97866ae33baf6d37d9ffbd6.ssl.cf5.rackcdn.com/images/B_shop_deboss.jpg");

        h3 {
            font-size: .8em;
            margin: 0 auto;
            
        }
    }

    #store_header {
        background-color: $bg_wht;
        text-align: center;
        padding: 50px 0 50px 0;

        h1, h2 {
            margin: 0 auto;
        }
        
        h1 {
            font-size: 1.5em;
            line-height: 1em;
            width: 80%;
            }


        h2 { 
            color: #AEA288;
            font-size: 1em;
            }
        }

    #store {
         @include grid-row();
       

        div {
            padding: 50px 0;
            background-color: $bg_wht;
            border-left: .5px solid lightgrey;
            border-right: .5px solid lightgrey;
            border-top: 1px solid lightgrey;
            display: inline-block;
            text-align: center;

            @include grid-column(6);
            @include breakpoint($med_screen) {
                @include grid_column(4)
            }
            @include breakpoint($large_screen) {
                @include grid_column(3)
            }
            

            p { font-size: 0.9em;
                margin: 0; 
            }

            .price {
                font-size: 0.9em;
                margin: 0;
                color: rgb(133, 48, 10)
            }
        }
    }
}

    #spacer {
        background-color: $bg_wht;
        height: 80px;
    }

    footer {
        background-image: url("https://0041b200f62b3b1e2348-1120f113e97866ae33baf6d37d9ffbd6.ssl.cf5.rackcdn.com/images/kraft-bg.jpg");
        background-repeat: repeat;
        text-align: center;
        
        h1, h3 {
            width: 60%;
            margin: 0 auto;
        }

        h1 {
            font-size: 2em;}
            
        h3 { 
            font-size: 0.8em;
            }

            #copyright { margin-top: 50px;}

        h4 { font-size: .5em;}
    }

